body {
    padding: 0;
    margin: 0;
    display: flex;
    background-color:#fffefe;
    color: #000000b5;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

button:focus { 
    outline-style: none; 
}

* {
    box-sizing: border-box;
}
